<div class="ps-row ps-padding-64" id="about">
  <div class="ps-col m6 ps-padding-large ps-hide-small">
    <img
      src="/images/principal.jpg"
      class="ps-round ps-image ps-opacity-min"
      alt="SAbores que enamoran"
      width="600"
      height="750"
    />
  </div>

  <div class="ps-col m6 ps-padding-large">
    <h1 class="ps-center"><%= mainModelAbout.titulo %></h1>
    <br />
    <p class="ps-large"><%= mainModelAbout.descripcion %></p>
    <p class="ps-large ps-text-grey ps-hide-medium">
      <%= mainModelAbout.historia %>
    </p>
  </div>
</div>

<hr />
