<%- include("./partials/header.ejs") %>

    <!-- Page content -->
    <div class="ps-content">
      <!-- About Section -->
      <%- include("./partials/about-section.ejs") %>
      <!-- Menu Section -->
      <div class="ps-row ps-padding-64" id="menu">
        <div class="ps-col l6 ps-padding-large">
          <h1 class="ps-center">Nuentro Menu</h1>
          <br />
          <h4>Carpaccio fresco</h4>
          <p class="ps-text-grey">
            Entrada Carpaccio de salmón con cítricos U$S 65.50
          </p>
          <a href="./detalle/0" class="btn-link">Ver detalle</a>
          <br />
          <br />

          <h4>Risotto de berenjena</h4>
          <p class="ps-text-grey">
            Risotto de berenjena y queso de cabra U$S 47.00
          </p>
          <a href="./detalle/1" class="btn-link">Ver detalle</a>
          <br />
          <br />

          <h4>Mousse de arroz</h4>
          <p class="ps-text-grey">
            Mousse de arroz con leche y aroma de azahar U$S 27.50
          </p>
          <a href="./detalle/2" class="btn-link">Ver detalle</a>
          <br />
          <br />

          <h4>Espárragos blancos</h4>
          <p class="ps-text-grey">
            Espárragos blancos con vinagreta de verduras y jamón ibérico U$S
            37.50
          </p>
          <a href="./detalle/3" class="btn-link">Ver detalle</a>
        </div>

        <%- include("./partials/img-menu.ejs") %>
      </div>

      <!-- Footer -->
      <%- include("./partials/footer.ejs") %>
    </div>

  </body>
</html>
